*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Pridi', serif;
} 

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 80vh;

    background-image: url(../image/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-img{
    width: 20rem;
    height: 20rem;

    border-radius: 50%;
    background-color: rgba(169, 169, 169, 0.156);
}

.nav{
    display: flex;
    align-items: flex-start;    
}

.nav-ul{
    display: flex;
    gap: 1rem;
}
.nav-li{
    padding: 0 1rem;
    transition: all 0.3s;
}
.nav-li:hover{
    transform: scale(1.2);
}

.nav-li a{
    margin: 1rem;
    color: #ed9609;
    font-size: 2.5rem;
    transition: all 0.3s;
}
.nav-ul .nav-li a:hover{
    color: #fff;
}
.abrir-menu,
.cerrar-menu{
    display: none;
}

@media screen and (max-width:769px) {
    html{
        font-size: 6px;
    }
    header{
        height: 35vh;
    }
    /* menu hamburguesa*/
    .abrir-menu,
    .cerrar-menu{
        display: block;
        width: 7rem;
        height: 7rem;
        font-size: 5em;
    }
    .abrir-menu{
        margin-top: 3rem;
        margin-right: 3rem;
        border-radius: 5%;
        border-style: none;
        border:1px solid #ed9609;
    }
    .fa-bars{
        color: #ed9609;
    }
    .cerrar-menu{
        border-radius: 5%;
        border-style: none;
        border:1px solid #ed9609;
    }
    .fa-xmark{
        color: #ed9609;
    }
    /* lista de menu */
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 5rem;
        position: absolute;
        top: 0;
        right: 0;

        background-color: rgba(240, 248, 255, 0.461);
        padding: 4rem;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-ul{
        flex-direction: column;
        align-items: end;
    }
    .nav-li{
        margin-top: 8rem;
        transition: all 0.3s;
    }
    .nav-li:hover{
        background-color: rgba(0, 0, 0, 0.568);
        width: 100%;
    }
    .nav-li a{
        font-size: 4em;
    }
    .h1-title{
        background-color: black;
        color: #fff;
        text-align: center; 
        font-size: 5em;
    }
    .seccion-barber{
       display: flex;
       justify-content: center;
       background-color: #ed9609;
    }
    .barber-img{
        margin: 3.5rem 0;
        border-radius: 50%;
        width: 40rem;
        height: 40rem;
        border: 1px solid #ffffff72;
        box-shadow: 1px 10px 13px 3px rgba(0, 0, 0, 0.53);
    }
    .barber-img:hover{
        transform: scale(1.1);
    }
    .h2-title{
        margin-top: 3rem;
        font-size: 4em;
        text-align: center;
    }
}