*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
    list-style: none;
    text-decoration: none;
    font-style: none;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Pridi', serif;
} 

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 80vh;

    background-image: url(../image/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* logo*/
.logo-img{
    width: 15rem;
    height: 15rem;

    border-radius: 50%;
    background-color: rgba(169, 169, 169, 0.156);
}
/* menu navbar*/
.nav{
    display: flex;
    align-items: flex-start;    
}

.nav-ul{
    display: flex;
    gap: 1rem;
}
.nav-li{
    padding: 0 1rem;
    transition: all 0.3s;
}
.nav-li:hover{
    transform: scale(1.2);
}

.nav-li a{
    margin: 1rem;
    color: #ed9609;
    font-size: 2rem;
    transition: all 0.3s;
}
.nav-ul .nav-li a:hover{
    color: #fff;
}
/* iconos de navbar*/
.fa-user, .fa-user-plus{
 color: #000000;
}
/* seccion profesionales*/
.h1-title{
    background-color:#ed9609;
    color: black;
    text-align: center; 
    font-size: 3.5rem;
}
.seccion-barber{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #000000, #434343);
    /*poner un linea fina*/
 }
 .seccion-barber div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
 }
 .h2-title{
     margin-bottom: 1rem;
     font-size: 2em;
     text-align: center;
     color: #ed9609;
 }

 .barber-img{
     margin: 4.5rem 6rem;
     border-radius: 50%;
     width: 30rem;
     height: 30rem;
     object-fit: cover;
     aspect-ratio: 1/1;
     border: 1px solid #434343; ;
     transition: all 0.3s;
     /*box-shadow: 1px 1px 30px 1px  rgba(255, 111, 21, 0.4);*/
  
 }
 .barber-img:hover{
     transform: scale(1.1);
     box-shadow: 1px 1px 40px 1px  rgb(255, 111, 21);
     border: none;
 }
 /* seccion galeria*/
 .title-galeria{
    background-color:#ed9609;
    color: black;
    text-align: center; 
    font-size: 3.5rem
 }
 .galeria{
    background-color:#ed96094f;
}
.caja{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;

 }

.img_grid{
    width: 100%;
    height: 40rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    
 }
 figure:nth-child(1){
    grid-column:1/4;
    grid-row: 1/2;
    
    
 }
figure:nth-child(2){
    grid-column:1/4;
    grid-row: 3/4;
    

 }
 figure:nth-child(3){
    grid-column:4/5;
    grid-row: 1/2;
    
 }
 figure:nth-child(4){
    grid-column:4/5;
    grid-row: 3/4;
  
 }
 figure:nth-child(5){
    grid-column:1/2;
    grid-row: 2/3;
    
 }
 figure:nth-child(6){
    grid-column:2/5;
    grid-row: 2/3;
 }

 /* FOOTER*/

 footer{
    background: linear-gradient(180deg,#ed9609 , #a1844e);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    height: 20rem;
    padding-top: 1rem;
 }
 footer div{
    width: 20%;
 }
 .title_footer{
    font-size: 2rem;
 }
 footer div a{
    font-size: 1.5rem;
 }
 .iconos_social{
    margin: 1rem;
    transition: all 0.3s;
 }
 .twitter{
    width: 2.5rem;
    border-radius: 30%;
 }
 .insta{
    width: 2.5rem;
    border-radius: 30%;
 }
 .facebook{
    width: 2.5rem;
    border-radius: 50%;
 }
 .twitter:hover,.insta:hover,.facebook:hover{
    transform: scale(1.2);
    background-color: #0000003e;
 }
 .whatsap,.correo{
    width: 1.5rem;
    margin: 0 0.5rem;
 }
 .ubicacion{
    width: 1.5rem;
 }
 
 .parrafo_footer{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
 }
 .contenedor_logo_footer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

 }
 
 .logo_footer{
    width: 10rem;
    height: 10rem;
    background-color: rgba(169, 169, 169, 0.282);
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
 }
 .copyright_footer{
    display: flex;
    align-items: flex-end;
    
}
/*VISTA LOGIN */
.title_login{
    background-color:#ed9609;
    color: black;
    text-align: center; 
    font-size: 3.5rem
}
.crearCuenta{
    background-color: #ed96094f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}
.text-cuenta{
    margin: 1rem 0;
}
.text-cuenta input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ed9609;
    border-radius: 5px;
}
.botttonCuenta{
    margin: 1rem 0;
}
.botonCuenta{
    width: 100%;
    background-color:  #ed9609;
    color: #fff;
    border: 1px solid #ed9609;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer; 
}
.botonCuenta:hover{
    background-color:  #ed960983
}
/* REGISTER */

.title_register{
    background-color:#ed9609;
    color: black;
    text-align: center; 
    font-size: 3.5rem
}
.formularios{
    background-color: #ed96094f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}
.text-label{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    font-size: 1.5rem;
}
.text-field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ed9609;
    border-radius: 5px;
}
.botonform{
    background-color: #ed9609;
    color: #fff;
    width: 100%;
    border: 1px solid #ed9609;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer; 
}
.botonform:hover{
    background:  #d98a58
}
.errores{
    color: red;
    font-size: 1.5rem;
}
/* menu hamburguesa*/
.abrir-menu,
.cerrar-menu{
    display: none;
}

@media screen and (max-width:769px) {
    html{
        font-size: 6px;
        scroll-behavior: smooth;
    }
    header{
        height: 35vh;
    }
    /* menu hamburguesa*/
    .abrir-menu,
    .cerrar-menu{
        display: block;
        width: 7rem;
        height: 7rem;
        font-size: 5em;
    }
    .abrir-menu{
        margin-top: 3rem;
        margin-right: 3rem;
        border-radius: 5%;
        border-style: none;
        border:1px solid #ed9609;
    }
    .fa-bars{
        color: #ed9609;
    }
    .cerrar-menu{
        border-radius: 5%;
        border-style: none;
        border:1px solid #ed9609;
    }
    .fa-xmark{
        color: #ed9609;
    }
    /* lista de menu */
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 5rem;
        position: absolute;
        top: 0;
        right: 0;

        background-color: rgba(240, 248, 255, 0.461);
        padding: 4rem;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-ul{
        flex-direction: column;
        align-items: end;
    }
    .nav-li{
        margin-top: 8rem;
        transition: all 0.3s;
    }
    .nav-li:hover{
        background-color: rgba(0, 0, 0, 0.568);
        width: 100%;
    }
    .nav-li a{
        font-size: 4em;
    }
    .nav-li .fa-user-plus, .nav-li .fa-user {
        color: #000000;
    }
    .h1-title{
        background-color:#ed9609;
        color: black;
        text-align: center; 
        font-size: 5rem;
    }
    .seccion-barber{
       display: flex;
       justify-content: center;
       background: linear-gradient(to bottom, #000000, #434343);
       /*poner un linea fina*/
    }
    .seccion-barber div{
        display: flex;
        flex-direction: column;
     }
    .h2-title{
        margin: 3rem 0;
        font-size: 4em;
        text-align: center;
        color: #ed9609;
    }

    .barber-img{
        margin: 6rem 0;
        border-radius: 50%;
        width: 40rem;
        height: 40rem;
        border: 1px solid #434343; ;
        transition: all 0.3s;
        /*box-shadow: 1px 1px 30px 1px  rgba(255, 111, 21, 0.4);*/
     
    }
    .barber-img:hover{
        transform: scale(1.1);
        box-shadow: 1px 1px 40px 1px  rgb(255, 111, 21);
        border: none;
    }
    /* carrusel de galeria*/
    .title-galeria{
        background-color: #ed9609;
        color: #000000;
        text-align: center;
        font-size: 5em;   
    }
    .galeria{
        width: 100%;
        overflow:hidden;    
        margin: 0 auto;
        padding: 1rem;
        transition: all 0.4s ease;
        
    }
    .caja{
        width: 600%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        transition: all .4s ease;
        transform: translateX(0%);
    }
    .img{
        width: calc( 100% / 6 );
        background-color: gray;
        margin: 0 4rem;
        width: 100%;
        height: 50vh;
        object-fit: cover;
        aspect-ratio: 0;
        border-radius: 1rem;
        transition: all .4s ease;
        box-shadow: 0.6rem 0.6rem 1.2rem rgba(0, 0, 0, 0.568)
    }
    .galeria .puntos{
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        margin: 1rem 0 ;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .galeria .punto{
        width: 5rem;
        height: 5rem;
        background-color: #000000;
        margin: 1rem 1rem ;
        border-radius: 50%;
        transition: all .4s ease;
        box-shadow: 0.6rem 0.6rem 1.2rem rgba(0, 0, 0, 0.568)
    
    }
    .galeria .punto.activo{
        background-color: #ed9609;
    }

    /*FOOTER*/
   
}